*{
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}
html{
  font-size: 16px;
  scroll-behavior:smooth;
}
body{
    background-color: #041C32;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "contenido"
    "footer";
}
.contenido{
    grid-area: contenido;
}

/* HEADER */
.header{
    grid-area: header;
    display:flex;
    flex-wrap: wrap;
    background-color: #064663;
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    
}
.header__titulo {
    font-weight: 700;
    font-family: 'Alegreya Sans', sans-serif;
    margin: .2em 0 0 .5em;
    font-size: 1.2em;
}
.header__titulo a{
    color: #ECB365;
}
.header__nav ul li{
    display: inline;
    padding: .1em 0 .1em 0;
    margin: 0 .5em 0 0;
    border: none;
    
}
.header__nav ul li a{
    text-decoration: none;
    color: #ECB365;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0;
    transition: .1s;
}
.header__nav ul .active {
   border-bottom: 2.5px solid white;
}
.header__nav ul .active a{
    color: rgb(243, 234, 224);
}
.header__nav ul li a:hover{
    color: rgb(243, 234, 224);
}
/* FIN HEADER */

/* PRESENTACION */
.presentacion{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "presentacion presentacion-imagen";
    grid-column-gap: 3px;
    grid-row-gap: 5px;
    align-items: center;
    width: 90%;
    margin: 2rem auto;
    font-size: 1.8rem;
}
.presentacion__info{
    grid-area: presentacion;
}
.presentacion__info__titulo{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Alegreya Sans', sans-serif;
    color: white;
}
.presentacion__info__texto{
    font-size: .7em;
    text-align: justify;
    padding: 0.8em;
    font-family: 'Varela Round', sans-serif;
    color: #dad6d6;
}
.presentacion__imagen{
    grid-area: presentacion-imagen;
    background-image: url('./../assets/images/perfil.jpg');
    background-blend-mode:multiply;
    width: 12em;
    height: 12em;
    margin: auto;
    clip-path: circle(5em at 49% 50%);
    background-size:cover;
    transition: .8s;
}
.presentacion__imagen:hover{
    clip-path: circle(5.5em at 49% 50%);
    background-color: rgb(214, 209, 207);
    cursor: pointer;

}
/* FIN PRESENTACIÓN */

/* HABILIDADES */
.habilidades{
    width: 90%;
    border-top: 3px solid white;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titulo"
    "habilidades";
    font-size: 1rem;
}
.habilidades__titulo {
    grid-area: titulo;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    text-decoration: underline;
    font-size: 1.4em;
    color: white;
    margin: 1.2em 0;
}
.habilidades__descrip {
    grid-area: habilidades;
    text-align: center;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
}
.habilidades__descrip__item{
    width: 10em;
    margin: 1em 0;
}
.habilidades__descrip__item img{
    width: 5.5em;
    transition: 0.7s;
}
.habilidades__descrip__item img:hover{
    filter: drop-shadow(1px 1px 8px #dad6d6);
    cursor: pointer;
}
.habilidades__descrip__item p{
    font-family: 'Varela Round', sans-serif;
    font-size: .9em;
    font-weight: 900;
    padding: .2em 0;
    font-style: italic;
}
/* FIN HABILIDADES */

/* TITULO */
.titulo{
    width: 100%;
    background-color:#064663;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
}
.titulo h2{ 
    font-size: .6em;
    padding: .6em 0;
    font-weight: 700;
    font-family: 'Alegreya Sans', sans-serif;
}
.titulo p{
    font-size: .4em;
    padding-bottom: .6em ;
    font-family: 'Varela Round', sans-serif;
}
/* FIN TITULO */

 /* INFORMACION */
.informacion{
    width: 95%;
    display: grid;
    margin: 2rem auto;
    grid-template-columns: repeat(3,1fr);
    font-size: 1rem;
}
.informacion__item{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.informacion__item::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0b384d;
    position: absolute;
    top:-40em;
    left: 0;
    transition: .7s ease-in-out all;
}
.informacion__item span{
    position: relative;
    z-index: 2;
    transition: .7s ease all;
    padding: 1em 2em;
}
.informacion__item:hover::after{
    top: 0;
}
.informacion__item h2{
    font-size: 1.5em;
    font-family: 'Varela Round', sans-serif;
    margin: .4em 0;
}
.informacion__item p{
    font-size: 1.2em;
    font-family: 'Varela Round', sans-serif;
    margin: .4em 0;
 
}
.informacion__item__img img{
    width: 5.5em;
    margin: .5em 0;
    transition: .6s;
}
.informacion__item__img img:hover{
    filter: drop-shadow(1px 1px 6px #dad6d6);
    cursor: pointer;
    
}
.informacion__bordes{
    border-right: 3px solid #ECB365;
    border-left: 3px solid #ECB365;
}
/*FIN INFORMACIÓN*/
 
/* PROYECTOS */
.proyectos{
    width: 95%;
    margin: 2rem auto;
    font-size: 1rem;
}
.proyectos__item{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 4em;
    border-bottom: 4px solid white;
}
.proyectos__item__img{
    width: 100%;
    text-align: center;
}
.proyectos__item__img img{
    width: 40em;
    margin: 1em;
}
.proyectos__item__detalle{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
}
.proyectos__item__detalle h3{
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2em;
}
.proyectos__item__detalle p{
    text-align: justify;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1em;
    margin: 1em 0;
}
.proyectos__item__detalle__boton{
    text-decoration: none;
    width: 8em;
    padding: .2em;
    position: relative;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.4em;
    background-color: #14709b;
    font-weight: bolder;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 1em;
}
.proyectos__item__detalle__boton span{
    position: relative;
    z-index: 2;
}
.proyectos__item__detalle__boton::after{
    content: "";
    width: 8.4em;
    height:3.2em;
    top: -4em;
    left: 0;
    z-index: 1;
    position: absolute;
    border-radius: 0 0 100% 100%;
    transition: .7s ease-in-out all;
    background-color: #bd7e27;
}
.proyectos__item__detalle__boton:hover::after{
    top: 0;
}
/* FIN PROYECTOS */

/* CANCION */
.cancion{
    margin: 2rem auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    font-size: 1rem; 
}
.cancion h3{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 1,2em;
}
/* FIN CANCION */

/* GALERIA */
.galeria{
    width: 95%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
    text-align: center;
    font-size: 1rem;
}
.galeria__item__img img{
    width: 22em;
    height: 22em;
    margin: .5em 0;
    border-radius: 10px;
    transition: 0.4s;
    
}
.galeria__item__img img:hover{
    box-shadow: 1px 1px 14px #fff;
}
.galeria__item__descrip{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2em;
    margin: .4em 0;

}
/* FIN GALERIA */

/* FORMULARIO DE CONTACTO */
.formulario{
    width: 40%;
    margin: 2rem auto;
    font-size: 1rem;
}
.formulario__form{
    display: flex;
    flex-direction: column;
}
.formulario__form label{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.4em;
}
.formulario__form label input{
    width: 100%;
    height: 1.5em;
    margin-bottom: .6em;
    color: black;
}
.formulario__form label input:focus{
    outline: #064663 solid 3px;
}
.formulario__form label textarea{
    width: 100%;
    height: 5em;
    margin-bottom: 1em;
    color: black;
}
.formulario__form label textarea:focus{
    outline: #064663 solid 3px;
}
.formulario__form_boton{
    height: 2.2em;
    background-color: #ECB365;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.4em;
}
/* FIN DE FORMULARIO DE CONTACTO */

/* CV */
.cv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 3rem auto;
}
.cv__boton{
    text-decoration: none;
    width: 10em;
    padding: .5em 0;
    position: relative;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.4em;
    background-color: #14709b;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 1em;
}
.cv__boton span{
    position: relative;
    z-index: 2;
}
.cv__boton::after{
    content: "";
    width: 10.4em;
    height:3.2em;
    top: -4em;
    left: 0;
    z-index: 1;
    position: absolute;
    border-radius: 0 0 100% 100%;
    transition: .7s ease-in-out all;
    background-color: #bd7e27;
}
.cv__boton:hover::after{
    top: 0;
}
/* FIN CV */

/* FOOTER */
.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #04293A;
    font-size: 1rem;
    width: 100%;
}
.footer__text{
    font-size: 1.2em;
    padding: .2em 0;
    font-family: 'Varela Round', sans-serif;
    color: #ECB365;
}
.footer__icons{
    padding: .5em 0;
}
.footer__icons a img{
    width: 2.6em;
    margin: .2em 1em;
    transition: .7s;
}
.footer__icons__ig img:hover{
    filter: drop-shadow(1px 1px 10px rgb(243, 65, 228));
}
.footer__icons__lk img:hover{
    filter: drop-shadow(1px 1px 10px rgb(90, 134, 199));
}
.footer__icons__wp img:hover{
    filter: drop-shadow(1px 1px 10px rgb(71, 224, 97));
}
/* FIN FOOTER */

/* INICIO MEDIA QUERIES */
@media only screen and (max-width:480px) {
    /* INICIO HEADER */
    .header{
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.6rem;
    }
    .header__nav ul li{
        display: block;
        margin: 0 0 0 .6em;
    }
    .titulo{
        font-size: 2.5rem;
    }
    /* FIN HEADER */
    /* PAGINA INICIO */
    .presentacion{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "presentacion"
        "presentacion-imagen";
        width: 90%;
        font-size: 1.7rem;
    }
    .habilidades{
        width: 90%;
        font-size: .9rem;
    }
    /* FIN PAGINA INICIO */

    /* INICIO PAGINA SOBRE MI */
    .informacion{
        grid-template-columns: 1fr ;
        font-size: 1rem;
        width: 90%;
    }
    .informacion__bordes{
        border-right:none;
        border-left: none;
        border-top: 3px solid #ECB365;
        border-bottom: 3px solid #ECB365;
    }
    /* FIN PAGINA SOBRE MI */

    /* INICIO PROYECTOS */
    .proyectos{
        width: 90%;
        font-size: .8rem;
    }
    .proyectos__item{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
    
    .proyectos__item__img img{
      width: 100%;
      margin: 0;
    }
    .proyectos__item__detalle__boton{
        margin: 1em auto;
    }
    /* FIN PAGINA PROYECTOS */

    /* INICIO PAGINA GALERIA */
    .cancion{
        width: 90%;
        font-size: .8rem; 
    }
    .galeria{
        grid-template-columns: 1fr;
        font-size: .9rem;
    }
    /* FIN PAGINA GALERIA */

    /* INICIO PAGINA CONTACTO */
    .formulario{
        width: 90%;
        font-size: .8rem;
    }
    /* FIN PAGINA CONTACTO */
}
@media only screen and (min-width:481px) and (max-width:768px) {
    /* INICIO HEADER */
    .header{
        font-size: 1.6rem;
    }
    .header__nav ul li{
        padding: 0;
    }
    .titulo{
        font-size: 2.5rem;
    }
    /* FIN HEADER */

    /* INICIO PAGINA INICIO */
    .presentacion{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "presentacion"
        "presentacion-imagen";
        width: 95%;
        font-size: 1.6rem;
    }
    .habilidades{
        width: 95%;
        font-size: .8rem;
    }
    /* FIN PAGINA INICIO */
    
    /* INICIO PAGINA SOBRE MI */
    .informacion{
        grid-template-columns: 1fr ;
        font-size: 1rem;
        width: 95%;
    }
    .informacion__bordes{
        border-right:none;
        border-left: none;
        border-top: 3px solid #ECB365;
        border-bottom: 3px solid #ECB365;
    }
    /* FIN PAGINA SOBRE MI */

    /* INICIO PAGINA PROYECTOS */
    .proyectos{
        width: 95%;
        font-size: .9rem;
    }
    .proyectos__item{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        text-align: center;
    }
    .proyectos__item__detalle p{
        text-align: center;
        margin: .5em 0;
    }
    .proyectos__item__img img{
      width: 100%;
      margin: 0;
    }
    .proyectos__item__detalle__boton{
        margin: 1em auto;
    }
    /* FIN PAGINA PROYECTOS */

    /* INICIO PAGINA GALERIA */
    .cancion{
        width: 90%;
        font-size: .8rem; 
    }
    .galeria{
        grid-template-columns: 1fr;
        font-size: .9rem;
    }
    /* FIN PAGINA GALERIA */
    
    /* INICIO PAGINA CONTACTO */
    .formulario{
        width: 70%;
        font-size: .8rem;
    }
    /* FIN PAGINA CONTACTO */
}
@media only screen and (min-width:769px) and (max-width:1024px) {
    /* INICIO HEADER */
    .titulo{
        font-size: 2.8rem;
    }
    /* FIN HEADER */

    /* INICIO PAGINA INICIO */
    .presentacion{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "presentacion"
        "presentacion-imagen";
        width: 95%;
        font-size: 1.7rem;
    }
    .habilidades{
        width: 95%;
        font-size: .9rem;
    }
    /* FIN PAGINA INICIO */

    /* INICIO PAGINA SOBRE MI */
    .informacion{
        grid-template-columns: 1fr ;
        font-size: .9rem;
        width: 95%;
    }
    .informacion__bordes{
        border-right:none;
        border-left: none;
        border-top: 3px solid #ECB365;
        border-bottom: 3px solid #ECB365;
    }
    /* FIN PAGINA SOBRE MI */

    /* INICIO PAGINA PROYECTOS */
    .proyectos{
        width: 95%;
        font-size: .9rem;
    }
    .proyectos__item{
        display: grid;
        grid-template-columns: 1fr;
    }
    .proyectos__item__detalle p{
        text-align: center;
        margin: .4em 0;
    }
    .proyectos__item__img img{
      width: 100%;
      margin: 0;
    }
    .proyectos__item__detalle__boton{
        margin: 1em auto;
    }
    /* FIN PAGINA PROYECTOS */

    /* INICIO PAGINA GALERIA */
    .cancion{
        width: 60%;
        font-size: .8rem; 
    }
    .galeria{
        grid-template-columns: 1fr;
        font-size: .9rem;
    }
    /* FIN PAGINA GALERIA */

    /* INICIO PAGINA CONTACTO */
    .formulario{
        width: 60%;
        font-size: .8rem;
    }
    /* FIN PAGINA CONTACTO */
}
/* FIN MEDIA QUERIES */