/* CV */
.cv{
    width: 100%;
    @include flex($direccion:row , $justifyCont:center);
    font-size: 1rem;
    margin: 3rem auto;
    &__boton{
        @include boton($fontSize:1.4em , $width:10em , $padding:.5em);
        margin-bottom: 1em;
        & span{
            position: relative;
            z-index: 2;
        }
        &::after{
            content: "";
            width: 10.4em;
            height:4em;
            top: -4em;
            left: 0;
            z-index: 1;
            position: absolute;
            border-radius: 0 0 100% 100%;
            transition: .4s ease-in-out all;
            background-color: #bd7e27;
        }
        &:hover::after{
            top: 0;
        }
    }
}
/* FIN CV */
