
.footer{
    @include flex($direccion:column , $justifyCont:center);
    background-color: #04293A;
    font-size: 1rem;
    position:absolute;
    bottom: 0;
    width: 100%;
    &__text{
        @include text_font($fontSize:1.1em,$textAlign:center);
        margin: 0;
        color: #ECB365;
    }
    &__icons{
        padding: .2em 0;
        & a img{
            width: 2.2em;
            height: auto;
            margin: .2em .5em;
            transition: .7s;
        }
        // &__ig img:hover{
        //     filter: drop-shadow(1px 1px 10px rgb(243, 65, 228));
        // }
        // &__lk img:hover{
        //     filter: drop-shadow(1px 1px 10px rgb(90, 134, 199));
        // }
        //uso mapa
        @each $nombre , $valor in $red-social {
            &__#{$nombre} img:hover{
                filter: $valor;
            }
        }
    }
}

