/* CANCION */
.cancion{
    margin: 2rem auto;
    width: 50%;
    font-size: 1rem; 
}
/* FIN CANCION */

/* GALERIA */
.galeria{
    margin: 2rem auto;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    &__item{
        position: relative;
        overflow: hidden;
        padding: .8em;
        transition: .5s ease ;
        &__img {
            & img{
                width: 100%;    
                height: auto;
                border-radius: 6px;
            }
        }
        &__descrip{
            position: absolute;
            z-index: 1;
            bottom: 10px;
            width: 96%;
            padding: .4em;
            background: rgba(112, 112, 112, 0.7);
            @include text_font($fontSize:1.3em,$textAlign:center);
            font-weight: 700;
            transition: .6s ease-in all ;
            opacity: 0;
        }
        &:hover{
            & p{
                opacity: 1;
            }
            filter: drop-shadow(1px 1px 12px #dad6d6);
        }
    }
}
/* FIN GALERIA */