.habilidades{
    border-top: 3px solid #fff;
    margin: 4rem auto;
    font-size: 1rem;
    &__titulo {
        text-align: center;
        font-family: 'Alegreya Sans', sans-serif;
        text-decoration: underline;
        font-size: 1.7em;
        margin: 1.2em 0;
    }
    &__descrip {
        text-align: center;
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        align-items: center;
        &__item {
            width: 10em;
            margin: 1em 0;
            & img{
                width: 5.5em;
                transition: 1.5s;
                &:hover{
                    filter: drop-shadow(1px 1px 8px #dad6d6);
                    transform: rotate(360deg);
                    cursor: pointer;
                }
            }
            & p{
                font-family: 'Varela Round', sans-serif;
                font-size: .9em;
                font-weight: 900;
                padding: .5em 0;
                font-style: italic;
            }
        }
    }
}