
.header{
    position: sticky;
    z-index: 20;
    top: 0;
    font-size: 1rem;
    &__nav{
        padding: .3em 1em;
        background-color: #064663;

        &__logo{
            @include titulos_font($fontSize:2em);
            font-weight: 900;
            &:hover{
                font-weight: bolder;
                color: #fff;
            }
        }

        &__button{
            margin-left: auto;
        }

        &__list{
            margin-left: auto;
            &__item{
                color: #dad6d6;
                font-weight: bolder;
                font-size: 1.2em;
                font-family: 'Alegreya Sans', sans-serif;
            }

            &__item:hover{
                color: #fff;
                text-shadow: 1px 0 0 #fff;
                transition: 0.25s;
            }

            &__item:focus{
                color: #fff;
                
            }
        }
    }
}
//Cambian el color de la hamburguesa
.custom-toggler .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border:  1px solid #fff;
}

.active{
    border-bottom: 1px solid #fff;
    text-shadow: 1px 0 0 #fff;
}
/* TITULO */
.titulo{
    width: 100%;
    background-color:#064663;
    @include flex($direccion:column , $justifyCont:center);
    text-align: center;
    font-size: 3rem;
    & h1{ 
        @include titulos_font($fontSize:.6em);
        padding: .6em 0;
        font-weight: 700;
    }
    & p{
        @include text_font($fontSize:.4em,$textAlign:center);
        padding-bottom: .6em ;
    }
}
/* FIN TITULO */
