// INICIO PRESENTACION
.presentacion{
    min-height: calc(100vh - 132px);
    font-size: 1.7rem;
    margin: 0 auto;
    padding: 1em 0;
    @include flex($justifyCont:center,$wrap:no-wrap);
    gap: 0;
    &__info__subtitulo{
        @include titulos_font($fontSize:1.2em);
        margin: 0;
        padding: 0;
    }
    &__info__titulo{
        @include titulos_font($fontSize:2em);
        margin: .2em 0;
    }
    &__info__texto{
        @include text_font($fontSize:.7em,$textAlign:justify ,$color:#dad6d6);
        padding: 0.8em;
    }
    &__imagen{
        background-image: url('./../assets/images/perfil.jpg');
        width: 12em;
        height: 12em;
        margin: auto;
        clip-path: circle(5em at 49% 50%);
        background-size:cover;
        transition: .8s;
        background-blend-mode:lighten;

        cursor: pointer;
        &:hover{
            clip-path: circle(5.5em at 49% 50%);
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}
// FIN PRESENTACION