/* INFORMACION */
.informacion{
    width: 95%;
    margin: 2rem auto;
    font-size: 1rem;
    &__item{
        @include flex($direccion:column );
        text-align: center;
        position: relative;
        overflow: hidden;
        &:hover::after{
            top: 0;
        }
        &::after{
            content: "";
            width: 100%;
            height: 100%;
            background-color: #0b384d;
            position: absolute;
            top:-80em;
            left: 0;
            transition: .7s ease-in-out all;
        }
        & span{
            position: relative;
            z-index: 2;
            transition: .7s ease all;
            padding: 1em 1em;
        }
        & h2{
            @include titulos_font($fontSize:1.8em);
            margin: .4em 0;
        }
        & p{
            @include text_font($fontSize:1.2em);
            margin: .4em 0;
         
        }
        &__img img{
            width: 5.5em;
            margin: .5em 0;
            transition: .6s;
            &:hover{
                filter: drop-shadow(1px 1px 6px #dad6d6);
                cursor: pointer;
                
            }
        }
    }
    &__bordes{
        border-right: 3px solid $marronClaro;
        border-left: 3px solid $marronClaro;
    }
}
/*FIN INFORMACIÓN*/

// INICIO HABILIDADES
.habilidades{
    border-top: 3px solid $marronClaro;
    margin: 4rem auto;
    font-size: 1rem;
    &__titulo {
        @include titulos_font($fontSize:1.8em,$textDeco:underline);
        margin: 1.2em 0;
    }
    &__descrip {
        text-align: center;
        @include flex($direccion:row , $justifyCont:space-around );
        &__item {
            width: 10em;
            margin: 1em 0;
            & img{
                width: 5.8em;
                height: auto;
                transition: 1.5s;
                &:hover{
                    filter: drop-shadow(1px 1px 8px #dad6d6);
                    transform: rotate(360deg);
                    cursor: pointer;
                }
            }
            & p{
                @include text_font($fontSize:.9em,$textAlign:center);
                font-weight: 900;
                padding: .5em 0;
                font-style: italic;
            }
        }
    }
}
// FIN HABILIDADES