$azul-base:#041C32;
$marronClaro:#ECB365;

//map, contiene colores para el hover de cada red social
$red-social : (
    ig: drop-shadow(1px 1px 10px rgb(243, 65, 228)),
    lk: drop-shadow(1px 1px 10px rgb(90, 134, 199))
);