@import 'vars';
@import 'mixin';
@import 'header';
@import 'footer';
@import 'inicio';
@import 'sobreMi';
@import 'proyectos';
@import 'galeria';
@import 'contacto';

*{
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    font-size: 16px;
    body{
        background-color: $azul-base;
    }
}

.contenidoCentrado{
    margin: 2em auto;
    width: 50%;
}
/* INICIO MEDIA QUERIES */
@media only screen and (max-width:575px) {
    .titulo{
        font-size: 2.5rem;
    }
    /* INICIO PAGINA INICIO */
    .presentacion{
        margin: 3rem auto;
        font-size: 1.6rem;
        &__info__texto{
            padding: .2em;
        }
    }
    .habilidades{
        font-size: .9rem;
    } 
    /* FIN PAGINA INICIO */

    /* INICIO PAGINA SOBRE MI */
    .informacion{
        font-size: 1rem;
        &__bordes{
            border-right:none;
            border-left: none;
            border-top: 3px solid $marronClaro;
            border-bottom: 3px solid $marronClaro;
        }
    }
    
    /* FIN PAGINA SOBRE MI */

    /* INICIO PROYECTOS */
    .proyectos{
        font-size: .8rem;
        &__item{
            gap: 10px;
            &__img img{
                width: 100%;
                margin: 0;
            }
            &__detalle{
                margin: 1em 0;
                & p{
                    margin: 0;
                }
                &__boton{
                    margin: 1em auto;
                }
            }
        }
    }
    /* FIN PAGINA PROYECTOS */

    /* INICIO PAGINA GALERIA */
    .cancion{
        width: 90%;
        font-size: .6rem; 
    }
    .galeria{
        font-size: .9rem;
    }
    /* FIN PAGINA GALERIA */

    /* INICIO PAGINA CONTACTO */
    .formulario{
        width: 100%;
        font-size: .8rem;
    }
    /* FIN PAGINA CONTACTO */
}
@media only screen and (min-width:576px) and (max-width:767px) {
    .titulo{
        font-size: 2.5rem;
    }
    /* INICIO PAGINA INICIO */
    .presentacion{
        margin: 2rem auto;
        font-size: 1.7rem;
        &__info__texto{
            padding: .4em;
        }
    }
    .habilidades{
        font-size: .9rem;
    } 
    /* FIN PAGINA INICIO */
    
    /* INICIO PAGINA SOBRE MI */
    .informacion{
        font-size: 1rem;
        &__bordes{
            border-right:none;
            border-left: none;
            border-top: 3px solid $marronClaro;
            border-bottom: 3px solid $marronClaro;
        }
    }
    
    /* FIN PAGINA SOBRE MI */

    /* INICIO PAGINA PROYECTOS */
    .proyectos{
        font-size: .9rem;
        &__item__detalle{
            margin: 1em 0;
            & p{
                margin: 0;
            }
            &__boton{
                margin: 1em auto;
            }
        }
        &__item__img img{
            width: 100%;
            margin: 0;
        }
    }
    /* FIN PAGINA PROYECTOS */

    /* INICIO PAGINA GALERIA */
    .cancion{
        width: 100%;
        font-size: .8rem; 
    }
    .galeria{
        font-size: .9rem;
    }
    /* FIN PAGINA GALERIA */
    
    /* INICIO PAGINA CONTACTO */
    .formulario{
        width: 90%;
        font-size: .8rem;
    }
    /* FIN PAGINA CONTACTO */
}
@media only screen and (min-width:768px) and (max-width:992px) {
    /* INICIO PAGINA INICIO */
    .presentacion{
        margin: 2rem auto;
        font-size: 1.8rem;
        &__info__texto{
            padding: .5em;
        }
    }
    

    /* FIN PAGINA INICIO  */

    /* INICIO PAGINA SOBRE MI */
    .informacion{
        font-size: 1rem;
        &__bordes{
            border-right:none;
            border-left: none;
            border-top: 3px solid $marronClaro;
            border-bottom: 3px solid $marronClaro;
        }
    }
    
    /* FIN PAGINA SOBRE MI */

    /* INICIO PAGINA PROYECTOS */
    .proyectos{
        font-size: 1rem;
        &__item__detalle{
            margin: 1em 0;
            & p{
                margin: 0;
            }
            &__boton{
                margin: 1em auto;
            }
        }
        &__item__img img{
            width: 100%;
            margin: 0;
        }
    }
    /* FIN PAGINA PROYECTOS */

    /* INICIO PAGINA GALERIA */
    .cancion{
        width: 100%;
        font-size: .6rem; 
    }
    .galeria{
        font-size: .9rem;
    }
    /* FIN PAGINA GALERIA */

    /* INICIO PAGINA CONTACTO */
    .formulario{
        width: 80%;
        font-size: .8rem;
    }
    /* FIN PAGINA CONTACTO */
}
/* FIN MEDIA QUERIES */